.avatar-img {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.avatar-img-fav {
    display: inline-block;
    width: 40px;
    height: 40px;

}
.avatar-img-middle {
    display: inline-block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}
img.cast-pic {
    height: 87px;
    width: 58px;
}
#alert{
    background-color: red;
    border-radius:5px;
    color:#fff;
    font-size:16px;
    text-align:center;
}
.alertClass{
    background-color: red;
    border-radius:5px;
    color:#fff;
    font-size:16px;
    text-align:center;
    font-weight:900;
}
.alertClassed{
    background-color: red;
    border-radius:5px;
    color:#fff;
    font-size:16px;
    text-align:center;
    font-weight:900;
}
.alertSuccess{
    background-color:green;
    border-radius:5px;
    color:#fff;
    font-size:16px;
    text-align:center;
    font-weight:900;
}
.without_ampm::-webkit-datetime-edit-ampm-field {
    display: none;
  }
